[submodule "jarvis_mcp"]
	path = jarvis_mcp
	url = https://codehost.com/luascfl/super_mcp_servers.git
[submodule "prompts_backup"]
	path = prompts_backup
	url = https://codehost.com/luascfl/prompts_backup.git
[submodule "mcps_backup"]
	path = mcps_backup
	url = https://codehost.com/luascfl/mcps_backup.git
[submodule "resources"]
	path = resources
	url = https://codehost.com/luascfl/resources.git
[submodule "prompts"]
	path = prompts
	url = https://codehost.com/luascfl/prompts.git
[submodule "docs"]
	path = docs
	url = https://codehost.com/luascfl/docs.git
