aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anthropic
anyio
attrs
authlib
backoff
bcrypt
beartype
beautifulsoup4
bubus
build
cachetools
cdp-use
certifi
cffi
charset-normalizer
chromadb
click
cloudpickle
coloredlogs
cryptography
cyclopts
diskcache
distro
dnspython
docstring_parser
docutils
durationpy
email-validator
exceptiongroup
fakeredis
fastapi
fastmcp
filelock
flatbuffers
frozenlist
fsspec
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-genai
google-generativeai
googleapis-common-protos
greenlet
groq
grpcio
h11
hf-xet
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
inquirerpy
jaraco.classes
jaraco.context
jaraco.functools
jeepney
jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-path
jsonschema-specifications
keyring
kubernetes
langchain-core
langchain-openai
langsmith
lupa
lxml
markdown-it-py
markupsafe
mcp
mdurl
mmh3
more-itertools
mpmath
multidict
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
oauthlib
oci
ollama
onnxruntime
openai
openapi-pydantic
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-prometheus
opentelemetry-instrumentation
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
paramiko
pathable
pathvalidate
pfzy
pillow
platformdirs
playwright
portalocker
posthog
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
py-key-value-aio
py-key-value-shared
pyasn1
pyasn1_modules
pybase64
pycparser
pydantic
pydantic-settings
pydantic_core
pydocket
pyee
pygments
pyjwt
pyotp
pyparsing
pypdf
pyperclip
pypika
pyproject_hooks
python-dateutil
python-docx
python-dotenv
python-json-logger
python-multipart
pyyaml
redis
referencing
regex
reportlab
requests
requests-oauthlib
requests-toolbelt
rich
rich-rst
rpds-py
rsa
safetensors
scikit-learn
scipy
screeninfo
secretstorage
sentence-transformers
setuptools
shellingham
six
sniffio
sortedcontainers
soupsieve
sse-starlette
starlette
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
triton
typer
typer-slim
typing-inspection
typing_extensions
uritemplate
urllib3
uuid7
uuid_utils
uvicorn
uvloop
watchfiles
wcwidth
websocket-client
websockets
wrapt
yarl
zipp
zstandard
